body{
    background-color: #525050;
}
.content-main{
    display: flex;
    gap: 15px;
    padding: 150px 200px;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.img-main{
    width: 100px;
    height: auto;
}
.text{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.botao_pesquisa{
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}
.campo_pesquisa{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resultados{
    margin-left: 200px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
